In [29]:
import pandas as pd
import os
#%pwd     #look at the current work dir
#%cd      #change to the dir you want 
#ds3 = pd.read_excel ("Dataset 3.xlsx")
#ds3 (head)

In [21]:
ds3_path = r"C:\Users\Client\Documents\Python\Dataset 3.xlsx"
ds3 = pd.read_excel(ds3_path)
ds3.head

In [23]:
os.chdir("C:\\Users\\Client\\Documents\\Python") # changing the working directory
ds3 = pd.read_excel(ds3_path)

In [44]:
ds3_transposed = ds3.T # changing row and collumns
ds3_transposed.to_excel('Dataset 3T.xlsx')

In [100]:
ds2= pd.read_excel ('Dataset 2.xlsx')
ds2.head

<bound method NDFrame.head of      Unnamed: 0                                        Protein IDs  \
0             4     tr|D6REY1|D6REY1_HUMAN;sp|Q13231-4|CHIT1_HUMAN
1             5       sp|P36222|CH3L1_HUMAN;tr|H0Y3U8|H0Y3U8_HUMAN
2             6  sp|P69905|HBA_HUMAN;tr|G3V1N2|G3V1N2_HUMAN;sp|...
3             7  sp|P68871|HBB_HUMAN;tr|F8W6P5|F8W6P5_HUMAN;tr|...
4             8  tr|H0YLB9|H0YLB9_HUMAN;sp|P49641-2|MA2A2_HUMAN...
..          ...                                                ...
788         792  tr|A0A0A0MRJ6|A0A0A0MRJ6_HUMAN;tr|C9J0F2|C9J0F...
789         793                            sp|P15291-2|B4GT1_HUMAN
790         794                              sp|P35858-2|ALS_HUMAN
791         795                               sp|P62851|RS25_HUMAN
792         796                              sp|Q93091|RNAS6_HUMAN

     PEPTIDE COUNT  UNIQUE PEPTIDES  CONFIDENCE SCORE  \
0               10               10            636.10
1               16               16           1018.16
2               13               13            929.64
3               12                5           1338.38
4                2                2             75.43
..             ...              ...               ...
788              3                3            115.20
789              2                2             62.28
790              7                7            315.54
791              2                2            109.60
792              1                1             53.01

                                           DESCRIPTION  Unnamed: 6  \
0    Chitotriosidase-1 OS=Homo sapiens GN=CHIT1 PE=...         NaN
1    Chitinase-3-like protein 1 OS=Homo sapiens GN=...         NaN
2    Hemoglobin subunit alpha OS=Homo sapiens GN=HB...         NaN
3    Hemoglobin subunit beta OS=Homo sapiens GN=HBB...         NaN
4    Alpha-mannosidase (Fragment) OS=Homo sapiens G...         NaN
..                                                 ...         ...
788  Protein-L-isoaspartate O-methyltransferase OS=...         NaN
789  Isoform Short of Beta-1,4-galactosyltransferas...         NaN
790  Isoform 2 of Insulin-like growth factor-bindin...         NaN
791  40S ribosomal protein S25 OS=Homo sapiens GN=R...         NaN
792  Ribonuclease K6 OS=Homo sapiens GN=RNASE6 PE=1...         NaN

     Unnamed: 7  Unnamed: 8   Mim_65_1  ...    PD_92_1    PD_84_1    PD_85_1  \
0           NaN           1  17.402637  ...  13.667653  13.085785  12.893083
1           NaN           2  19.899751  ...  18.197078  17.518489  18.541090
2           NaN           3  14.670574  ...  15.918150  20.892639  22.011013
3           NaN           4  18.271209  ...  18.557515  22.336500  23.233012
4           NaN           5  14.642892  ...  11.486476  12.647279  11.482068
..          ...         ...        ...  ...        ...        ...        ...
788         NaN         789  14.461775  ...  13.397743  13.040466  13.169521
789         NaN         790  11.325696  ...   8.691684   7.301366   9.469888
790         NaN         791  15.133438  ...  14.113338  13.867035  14.777310
791         NaN         792  12.935077  ...  12.373992   9.287817  11.645750
792         NaN         793  10.800935  ...  11.934607  10.784230  13.205443

       PD_93_1   PD_101_1    PD_88_1   PD_100_1   PD_102_1    PD_95_1  \
0    14.767390  13.868767  11.980230  13.389996  15.087464  14.847192
1    17.594048  18.349469  18.605652  17.810126  17.449737  18.725930
2    18.660887  16.591172  18.554992  18.281800  16.200872  18.783468
3    20.505969  19.052561  19.906406  19.844635  18.357116  20.703742
4    13.656555  12.167221  13.542801  12.481805  12.472083  13.518998
..         ...        ...        ...        ...        ...        ...
788  13.146324  12.903465  13.182132  13.253417  13.016094  13.640909
789   9.916238   9.399355   7.972461  10.956510   6.981506  12.451956
790  13.003717  15.717944  13.942383  13.986549  13.146108  15.437533
791  13.004098  12.679041   8.495225  12.643714   8.296878  13.831683
792  12.284744  10.871104  11.031488  13.070317  10.335849  12.104004

       PD_94_1
0    12.907799
1    18.224578
2    18.350360
3    19.918963
4    12.098441
..         ...
788  12.972100
789  10.669253
790  14.572094
791  12.678074
792  12.361672

[793 rows x 167 columns]>

In [97]:

#ds2[['Protein 1', 'Protein 2', 'Protein 3', 'Protein 4', 'Protein 5', 'Protein 6', 'Protein 7', 'Protein 8',
     # 'Protein 9', 'Protein 10', 'Protein 11', 'Protein 12', 'Protein 13', 'Protein 14', 'Protein 15', 'Protein 16',
     # 'Protein 17', 'Protein 18', 'Protein 19', 'Protein 20', 
      #'Protein 21']] = ds2['Protein IDs'].str.split('|', expand= True)


#ds2s = ds2s.dropna(how='all')    remove column/row where all values are NAN  and 
#'any' drops all the columns and  rows that have NAN value 




#ds2f = ds2s[['1', '3', '5']]

TypeError: list indices must be integers or slices, not str

In [102]:
ds2s = ds2['Protein IDs'].str.split('|', expand=True) # split column into multiple columns by delimiter 
ds2s.head

<bound method NDFrame.head of      0           1                    2         3                4       5   \
0    tr      D6REY1      D6REY1_HUMAN;sp  Q13231-4      CHIT1_HUMAN    None
1    sp      P36222       CH3L1_HUMAN;tr    H0Y3U8     H0Y3U8_HUMAN    None
2    sp      P69905         HBA_HUMAN;tr    G3V1N2  G3V1N2_HUMAN;sp  P02008
3    sp      P68871         HBB_HUMAN;tr    F8W6P5  F8W6P5_HUMAN;tr  E9PFT6
4    tr      H0YLB9      H0YLB9_HUMAN;sp  P49641-2   MA2A2_HUMAN;tr  H0YKH9
..   ..         ...                  ...       ...              ...     ...
788  tr  A0A0A0MRJ6  A0A0A0MRJ6_HUMAN;tr    C9J0F2  C9J0F2_HUMAN;tr  F8WAV5
789  sp    P15291-2          B4GT1_HUMAN      None             None    None
790  sp    P35858-2            ALS_HUMAN      None             None    None
791  sp      P62851           RS25_HUMAN      None             None    None
792  sp      Q93091          RNAS6_HUMAN      None             None    None

                  6           7                    8       9   ...      11  \
0               None        None                 None    None  ...    None
1               None        None                 None    None  ...    None
2         HBAZ_HUMAN        None                 None    None  ...    None
3    E9PFT6_HUMAN;tr  A0A0J9YWK4  A0A0J9YWK4_HUMAN;sp  P02100  ...  C9JRG0
4       H0YKH9_HUMAN        None                 None    None  ...    None
..               ...         ...                  ...     ...  ...     ...
788     F8WAV5_HUMAN        None                 None    None  ...    None
789             None        None                 None    None  ...    None
790             None        None                 None    None  ...    None
791             None        None                 None    None  ...    None
792             None        None                 None    None  ...    None

               12    13    14    15    16    17    18    19    20
0            None  None  None  None  None  None  None  None  None
1            None  None  None  None  None  None  None  None  None
2            None  None  None  None  None  None  None  None  None
3    C9JRG0_HUMAN  None  None  None  None  None  None  None  None
4            None  None  None  None  None  None  None  None  None
..            ...   ...   ...   ...   ...   ...   ...   ...   ...
788          None  None  None  None  None  None  None  None  None
789          None  None  None  None  None  None  None  None  None
790          None  None  None  None  None  None  None  None  None
791          None  None  None  None  None  None  None  None  None
792          None  None  None  None  None  None  None  None  None

[793 rows x 21 columns]>

In [103]:
ds2s[[1, 3, 5]]

              1         3       5
0        D6REY1  Q13231-4    None
1        P36222    H0Y3U8    None
2        P69905    G3V1N2  P02008
3        P68871    F8W6P5  E9PFT6
4        H0YLB9  P49641-2  H0YKH9
..          ...       ...     ...
788  A0A0A0MRJ6    C9J0F2  F8WAV5
789    P15291-2      None    None
790    P35858-2      None    None
791      P62851      None    None
792      Q93091      None    None

[793 rows x 3 columns]

In [104]:
ds2c = [ds2 , ds2s[[1, 3, 5]]]
ds2c

[     Unnamed: 0                                        Protein IDs  \
 0             4     tr|D6REY1|D6REY1_HUMAN;sp|Q13231-4|CHIT1_HUMAN
 1             5       sp|P36222|CH3L1_HUMAN;tr|H0Y3U8|H0Y3U8_HUMAN
 2             6  sp|P69905|HBA_HUMAN;tr|G3V1N2|G3V1N2_HUMAN;sp|...
 3             7  sp|P68871|HBB_HUMAN;tr|F8W6P5|F8W6P5_HUMAN;tr|...
 4             8  tr|H0YLB9|H0YLB9_HUMAN;sp|P49641-2|MA2A2_HUMAN...
 ..          ...                                                ...
 788         792  tr|A0A0A0MRJ6|A0A0A0MRJ6_HUMAN;tr|C9J0F2|C9J0F...
 789         793                            sp|P15291-2|B4GT1_HUMAN
 790         794                              sp|P35858-2|ALS_HUMAN
 791         795                               sp|P62851|RS25_HUMAN
 792         796                              sp|Q93091|RNAS6_HUMAN

      PEPTIDE COUNT  UNIQUE PEPTIDES  CONFIDENCE SCORE  \
 0               10               10            636.10
 1               16               16           1018.16
 2               13               13            929.64
 3               12                5           1338.38
 4                2                2             75.43
 ..             ...              ...               ...
 788              3                3            115.20
 789              2                2             62.28
 790              7                7            315.54
 791              2                2            109.60
 792              1                1             53.01

                                            DESCRIPTION  Unnamed: 6  \
 0    Chitotriosidase-1 OS=Homo sapiens GN=CHIT1 PE=...         NaN
 1    Chitinase-3-like protein 1 OS=Homo sapiens GN=...         NaN
 2    Hemoglobin subunit alpha OS=Homo sapiens GN=HB...         NaN
 3    Hemoglobin subunit beta OS=Homo sapiens GN=HBB...         NaN
 4    Alpha-mannosidase (Fragment) OS=Homo sapiens G...         NaN
 ..                                                 ...         ...
 788  Protein-L-isoaspartate O-methyltransferase OS=...         NaN
 789  Isoform Short of Beta-1,4-galactosyltransferas...         NaN
 790  Isoform 2 of Insulin-like growth factor-bindin...         NaN
 791  40S ribosomal protein S25 OS=Homo sapiens GN=R...         NaN
 792  Ribonuclease K6 OS=Homo sapiens GN=RNASE6 PE=1...         NaN

      Unnamed: 7  Unnamed: 8   Mim_65_1  ...    PD_92_1    PD_84_1    PD_85_1  \
 0           NaN           1  17.402637  ...  13.667653  13.085785  12.893083
 1           NaN           2  19.899751  ...  18.197078  17.518489  18.541090
 2           NaN           3  14.670574  ...  15.918150  20.892639  22.011013
 3           NaN           4  18.271209  ...  18.557515  22.336500  23.233012
 4           NaN           5  14.642892  ...  11.486476  12.647279  11.482068
 ..          ...         ...        ...  ...        ...        ...        ...
 788         NaN         789  14.461775  ...  13.397743  13.040466  13.169521
 789         NaN         790  11.325696  ...   8.691684   7.301366   9.469888
 790         NaN         791  15.133438  ...  14.113338  13.867035  14.777310
 791         NaN         792  12.935077  ...  12.373992   9.287817  11.645750
 792         NaN         793  10.800935  ...  11.934607  10.784230  13.205443

        PD_93_1   PD_101_1    PD_88_1   PD_100_1   PD_102_1    PD_95_1  \
 0    14.767390  13.868767  11.980230  13.389996  15.087464  14.847192
 1    17.594048  18.349469  18.605652  17.810126  17.449737  18.725930
 2    18.660887  16.591172  18.554992  18.281800  16.200872  18.783468
 3    20.505969  19.052561  19.906406  19.844635  18.357116  20.703742
 4    13.656555  12.167221  13.542801  12.481805  12.472083  13.518998
 ..         ...        ...        ...        ...        ...        ...
 788  13.146324  12.903465  13.182132  13.253417  13.016094  13.640909
 789   9.916238   9.399355   7.972461  10.956510   6.981506  12.451956
 790  13.003717  15.717944  13.942383  13.986549  13.146108  15.437533
 791  13.004098  12.679041   8.495225  12.643714   8.296878  13.831683
 792  12.284744  10.871104  11.031488  13.070317  10.335849  12.104004

        PD_94_1
 0    12.907799
 1    18.224578
 2    18.350360
 3    19.918963
 4    12.098441
 ..         ...
 788  12.972100
 789  10.669253
 790  14.572094
 791  12.678074
 792  12.361672

 [793 rows x 167 columns],
               1         3       5
 0        D6REY1  Q13231-4    None
 1        P36222    H0Y3U8    None
 2        P69905    G3V1N2  P02008
 3        P68871    F8W6P5  E9PFT6
 4        H0YLB9  P49641-2  H0YKH9
 ..          ...       ...     ...
 788  A0A0A0MRJ6    C9J0F2  F8WAV5
 789    P15291-2      None    None
 790    P35858-2      None    None
 791      P62851      None    None
 792      Q93091      None    None

 [793 rows x 3 columns]]

In [106]:
comb = pd.concat([ds2, ds2s], axis=1).reindex(ds2.index)
comb

,Unnamed: 0,Protein IDs,PEPTIDE COUNT,UNIQUE PEPTIDES,CONFIDENCE SCORE,DESCRIPTION,Unnamed: 6,Unnamed: 7,Unnamed: 8,Mim_65_1,...,11,12,13,14,15,16,17,18,19,20
0,4,tr|D6REY1|D6REY1_HUMAN;sp|Q13231-4|CHIT1_HUMAN,10,10,636.10,Chitotriosidase-1 OS=Homo sapiens GN=CHIT1 PE=...,NaN,NaN,1,17.402637,...,None,None,None,None,None,None,None,None,None,None
1,5,sp|P36222|CH3L1_HUMAN;tr|H0Y3U8|H0Y3U8_HUMAN,16,16,1018.16,Chitinase-3-like protein 1 OS=Homo sapiens GN=...,NaN,NaN,2,19.899751,...,None,None,None,None,None,None,None,None,None,None
2,6,sp|P69905|HBA_HUMAN;tr|G3V1N2|G3V1N2_HUMAN;sp|...,13,13,929.64,Hemoglobin subunit alpha OS=Homo sapiens GN=HB...,NaN,NaN,3,14.670574,...,None,None,None,None,None,None,None,None,None,None
3,7,sp|P68871|HBB_HUMAN;tr|F8W6P5|F8W6P5_HUMAN;tr|...,12,5,1338.38,Hemoglobin subunit beta OS=Homo sapiens GN=HBB...,NaN,NaN,4,18.271209,...,C9JRG0,C9JRG0_HUMAN,None,None,None,None,None,None,None,None
4,8,tr|H0YLB9|H0YLB9_HUMAN;sp|P49641-2|MA2A2_HUMAN...,2,2,75.43,Alpha-mannosidase (Fragment) OS=Homo sapiens G...,NaN,NaN,5,14.642892,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788,792,tr|A0A0A0MRJ6|A0A0A0MRJ6_HUMAN;tr|C9J0F2|C9J0F...,3,3,115.20,Protein-L-isoaspartate O-methyltransferase OS=...,NaN,NaN,789,14.461775,...,None,None,None,None,None,None,None,None,None,None
789,793,sp|P15291-2|B4GT1_HUMAN,2,2,62.28,"Isoform Short of Beta-1,4-galactosyltransferas...",NaN,NaN,790,11.325696,...,None,None,None,None,None,None,None,None,None,None
790,794,sp|P35858-2|ALS_HUMAN,7,7,315.54,Isoform 2 of Insulin-like growth factor-bindin...,NaN,NaN,791,15.133438,...,None,None,None,None,None,None,None,None,None,None
791,795,sp|P62851|RS25_HUMAN,2,2,109.60,40S ribosomal protein S25 OS=Homo sapiens GN=R...,NaN,NaN,792,12.935077,...,None,None,None,None,None,None,None,None,None,None
792,796,sp|Q93091|RNAS6_HUMAN,1,1,53.01,Ribonuclease K6 OS=Homo sapiens GN=RNASE6 PE=1...,NaN,NaN,793,10.800935,...,None,None,None,None,None,None,None,None,None,None

In [120]:
#ds2f = ds2s.drop(0, axis=1)    drops a single column ' name of the column'
ds2f = ds2s.drop (columns=[0, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]) # drops multiple columns
ds2f

              1         3       5
0        D6REY1  Q13231-4    None
1        P36222    H0Y3U8    None
2        P69905    G3V1N2  P02008
3        P68871    F8W6P5  E9PFT6
4        H0YLB9  P49641-2  H0YKH9
..          ...       ...     ...
788  A0A0A0MRJ6    C9J0F2  F8WAV5
789    P15291-2      None    None
790    P35858-2      None    None
791      P62851      None    None
792      Q93091      None    None

[793 rows x 3 columns]

In [122]:
ds2c = [ds2, ds2f]
ds2c

[     Unnamed: 0                                        Protein IDs  \
 0             4     tr|D6REY1|D6REY1_HUMAN;sp|Q13231-4|CHIT1_HUMAN
 1             5       sp|P36222|CH3L1_HUMAN;tr|H0Y3U8|H0Y3U8_HUMAN
 2             6  sp|P69905|HBA_HUMAN;tr|G3V1N2|G3V1N2_HUMAN;sp|...
 3             7  sp|P68871|HBB_HUMAN;tr|F8W6P5|F8W6P5_HUMAN;tr|...
 4             8  tr|H0YLB9|H0YLB9_HUMAN;sp|P49641-2|MA2A2_HUMAN...
 ..          ...                                                ...
 788         792  tr|A0A0A0MRJ6|A0A0A0MRJ6_HUMAN;tr|C9J0F2|C9J0F...
 789         793                            sp|P15291-2|B4GT1_HUMAN
 790         794                              sp|P35858-2|ALS_HUMAN
 791         795                               sp|P62851|RS25_HUMAN
 792         796                              sp|Q93091|RNAS6_HUMAN

      PEPTIDE COUNT  UNIQUE PEPTIDES  CONFIDENCE SCORE  \
 0               10               10            636.10
 1               16               16           1018.16
 2               13               13            929.64
 3               12                5           1338.38
 4                2                2             75.43
 ..             ...              ...               ...
 788              3                3            115.20
 789              2                2             62.28
 790              7                7            315.54
 791              2                2            109.60
 792              1                1             53.01

                                            DESCRIPTION  Unnamed: 6  \
 0    Chitotriosidase-1 OS=Homo sapiens GN=CHIT1 PE=...         NaN
 1    Chitinase-3-like protein 1 OS=Homo sapiens GN=...         NaN
 2    Hemoglobin subunit alpha OS=Homo sapiens GN=HB...         NaN
 3    Hemoglobin subunit beta OS=Homo sapiens GN=HBB...         NaN
 4    Alpha-mannosidase (Fragment) OS=Homo sapiens G...         NaN
 ..                                                 ...         ...
 788  Protein-L-isoaspartate O-methyltransferase OS=...         NaN
 789  Isoform Short of Beta-1,4-galactosyltransferas...         NaN
 790  Isoform 2 of Insulin-like growth factor-bindin...         NaN
 791  40S ribosomal protein S25 OS=Homo sapiens GN=R...         NaN
 792  Ribonuclease K6 OS=Homo sapiens GN=RNASE6 PE=1...         NaN

      Unnamed: 7  Unnamed: 8   Mim_65_1  ...    PD_92_1    PD_84_1    PD_85_1  \
 0           NaN           1  17.402637  ...  13.667653  13.085785  12.893083
 1           NaN           2  19.899751  ...  18.197078  17.518489  18.541090
 2           NaN           3  14.670574  ...  15.918150  20.892639  22.011013
 3           NaN           4  18.271209  ...  18.557515  22.336500  23.233012
 4           NaN           5  14.642892  ...  11.486476  12.647279  11.482068
 ..          ...         ...        ...  ...        ...        ...        ...
 788         NaN         789  14.461775  ...  13.397743  13.040466  13.169521
 789         NaN         790  11.325696  ...   8.691684   7.301366   9.469888
 790         NaN         791  15.133438  ...  14.113338  13.867035  14.777310
 791         NaN         792  12.935077  ...  12.373992   9.287817  11.645750
 792         NaN         793  10.800935  ...  11.934607  10.784230  13.205443

        PD_93_1   PD_101_1    PD_88_1   PD_100_1   PD_102_1    PD_95_1  \
 0    14.767390  13.868767  11.980230  13.389996  15.087464  14.847192
 1    17.594048  18.349469  18.605652  17.810126  17.449737  18.725930
 2    18.660887  16.591172  18.554992  18.281800  16.200872  18.783468
 3    20.505969  19.052561  19.906406  19.844635  18.357116  20.703742
 4    13.656555  12.167221  13.542801  12.481805  12.472083  13.518998
 ..         ...        ...        ...        ...        ...        ...
 788  13.146324  12.903465  13.182132  13.253417  13.016094  13.640909
 789   9.916238   9.399355   7.972461  10.956510   6.981506  12.451956
 790  13.003717  15.717944  13.942383  13.986549  13.146108  15.437533
 791  13.004098  12.679041   8.495225  12.643714   8.296878  13.831683
 792  12.284744  10.871104  11.031488  13.070317  10.335849  12.104004

        PD_94_1
 0    12.907799
 1    18.224578
 2    18.350360
 3    19.918963
 4    12.098441
 ..         ...
 788  12.972100
 789  10.669253
 790  14.572094
 791  12.678074
 792  12.361672

 [793 rows x 167 columns],
               1         3       5
 0        D6REY1  Q13231-4    None
 1        P36222    H0Y3U8    None
 2        P69905    G3V1N2  P02008
 3        P68871    F8W6P5  E9PFT6
 4        H0YLB9  P49641-2  H0YKH9
 ..          ...       ...     ...
 788  A0A0A0MRJ6    C9J0F2  F8WAV5
 789    P15291-2      None    None
 790    P35858-2      None    None
 791      P62851      None    None
 792      Q93091      None    None

 [793 rows x 3 columns]]

In [129]:
ds2c #.to_excel('Dataset 2C.xlsx')

[     Unnamed: 0                                        Protein IDs  \
 0             4     tr|D6REY1|D6REY1_HUMAN;sp|Q13231-4|CHIT1_HUMAN
 1             5       sp|P36222|CH3L1_HUMAN;tr|H0Y3U8|H0Y3U8_HUMAN
 2             6  sp|P69905|HBA_HUMAN;tr|G3V1N2|G3V1N2_HUMAN;sp|...
 3             7  sp|P68871|HBB_HUMAN;tr|F8W6P5|F8W6P5_HUMAN;tr|...
 4             8  tr|H0YLB9|H0YLB9_HUMAN;sp|P49641-2|MA2A2_HUMAN...
 ..          ...                                                ...
 788         792  tr|A0A0A0MRJ6|A0A0A0MRJ6_HUMAN;tr|C9J0F2|C9J0F...
 789         793                            sp|P15291-2|B4GT1_HUMAN
 790         794                              sp|P35858-2|ALS_HUMAN
 791         795                               sp|P62851|RS25_HUMAN
 792         796                              sp|Q93091|RNAS6_HUMAN

      PEPTIDE COUNT  UNIQUE PEPTIDES  CONFIDENCE SCORE  \
 0               10               10            636.10
 1               16               16           1018.16
 2               13               13            929.64
 3               12                5           1338.38
 4                2                2             75.43
 ..             ...              ...               ...
 788              3                3            115.20
 789              2                2             62.28
 790              7                7            315.54
 791              2                2            109.60
 792              1                1             53.01

                                            DESCRIPTION  Unnamed: 6  \
 0    Chitotriosidase-1 OS=Homo sapiens GN=CHIT1 PE=...         NaN
 1    Chitinase-3-like protein 1 OS=Homo sapiens GN=...         NaN
 2    Hemoglobin subunit alpha OS=Homo sapiens GN=HB...         NaN
 3    Hemoglobin subunit beta OS=Homo sapiens GN=HBB...         NaN
 4    Alpha-mannosidase (Fragment) OS=Homo sapiens G...         NaN
 ..                                                 ...         ...
 788  Protein-L-isoaspartate O-methyltransferase OS=...         NaN
 789  Isoform Short of Beta-1,4-galactosyltransferas...         NaN
 790  Isoform 2 of Insulin-like growth factor-bindin...         NaN
 791  40S ribosomal protein S25 OS=Homo sapiens GN=R...         NaN
 792  Ribonuclease K6 OS=Homo sapiens GN=RNASE6 PE=1...         NaN

      Unnamed: 7  Unnamed: 8   Mim_65_1  ...    PD_92_1    PD_84_1    PD_85_1  \
 0           NaN           1  17.402637  ...  13.667653  13.085785  12.893083
 1           NaN           2  19.899751  ...  18.197078  17.518489  18.541090
 2           NaN           3  14.670574  ...  15.918150  20.892639  22.011013
 3           NaN           4  18.271209  ...  18.557515  22.336500  23.233012
 4           NaN           5  14.642892  ...  11.486476  12.647279  11.482068
 ..          ...         ...        ...  ...        ...        ...        ...
 788         NaN         789  14.461775  ...  13.397743  13.040466  13.169521
 789         NaN         790  11.325696  ...   8.691684   7.301366   9.469888
 790         NaN         791  15.133438  ...  14.113338  13.867035  14.777310
 791         NaN         792  12.935077  ...  12.373992   9.287817  11.645750
 792         NaN         793  10.800935  ...  11.934607  10.784230  13.205443

        PD_93_1   PD_101_1    PD_88_1   PD_100_1   PD_102_1    PD_95_1  \
 0    14.767390  13.868767  11.980230  13.389996  15.087464  14.847192
 1    17.594048  18.349469  18.605652  17.810126  17.449737  18.725930
 2    18.660887  16.591172  18.554992  18.281800  16.200872  18.783468
 3    20.505969  19.052561  19.906406  19.844635  18.357116  20.703742
 4    13.656555  12.167221  13.542801  12.481805  12.472083  13.518998
 ..         ...        ...        ...        ...        ...        ...
 788  13.146324  12.903465  13.182132  13.253417  13.016094  13.640909
 789   9.916238   9.399355   7.972461  10.956510   6.981506  12.451956
 790  13.003717  15.717944  13.942383  13.986549  13.146108  15.437533
 791  13.004098  12.679041   8.495225  12.643714   8.296878  13.831683
 792  12.284744  10.871104  11.031488  13.070317  10.335849  12.104004

        PD_94_1
 0    12.907799
 1    18.224578
 2    18.350360
 3    19.918963
 4    12.098441
 ..         ...
 788  12.972100
 789  10.669253
 790  14.572094
 791  12.678074
 792  12.361672

 [793 rows x 167 columns],
               1         3       5
 0        D6REY1  Q13231-4    None
 1        P36222    H0Y3U8    None
 2        P69905    G3V1N2  P02008
 3        P68871    F8W6P5  E9PFT6
 4        H0YLB9  P49641-2  H0YKH9
 ..          ...       ...     ...
 788  A0A0A0MRJ6    C9J0F2  F8WAV5
 789    P15291-2      None    None
 790    P35858-2      None    None
 791      P62851      None    None
 792      Q93091      None    None

 [793 rows x 3 columns]]

In [132]:
merged = pd.concat([ds2, ds2f], axis=1)
merged

,Unnamed: 0,Protein IDs,PEPTIDE COUNT,UNIQUE PEPTIDES,CONFIDENCE SCORE,DESCRIPTION,Unnamed: 6,Unnamed: 7,Unnamed: 8,Mim_65_1,...,PD_93_1,PD_101_1,PD_88_1,PD_100_1,PD_102_1,PD_95_1,PD_94_1,1,3,5
0,4,tr|D6REY1|D6REY1_HUMAN;sp|Q13231-4|CHIT1_HUMAN,10,10,636.10,Chitotriosidase-1 OS=Homo sapiens GN=CHIT1 PE=...,NaN,NaN,1,17.402637,...,14.767390,13.868767,11.980230,13.389996,15.087464,14.847192,12.907799,D6REY1,Q13231-4,None
1,5,sp|P36222|CH3L1_HUMAN;tr|H0Y3U8|H0Y3U8_HUMAN,16,16,1018.16,Chitinase-3-like protein 1 OS=Homo sapiens GN=...,NaN,NaN,2,19.899751,...,17.594048,18.349469,18.605652,17.810126,17.449737,18.725930,18.224578,P36222,H0Y3U8,None
2,6,sp|P69905|HBA_HUMAN;tr|G3V1N2|G3V1N2_HUMAN;sp|...,13,13,929.64,Hemoglobin subunit alpha OS=Homo sapiens GN=HB...,NaN,NaN,3,14.670574,...,18.660887,16.591172,18.554992,18.281800,16.200872,18.783468,18.350360,P69905,G3V1N2,P02008
3,7,sp|P68871|HBB_HUMAN;tr|F8W6P5|F8W6P5_HUMAN;tr|...,12,5,1338.38,Hemoglobin subunit beta OS=Homo sapiens GN=HBB...,NaN,NaN,4,18.271209,...,20.505969,19.052561,19.906406,19.844635,18.357116,20.703742,19.918963,P68871,F8W6P5,E9PFT6
4,8,tr|H0YLB9|H0YLB9_HUMAN;sp|P49641-2|MA2A2_HUMAN...,2,2,75.43,Alpha-mannosidase (Fragment) OS=Homo sapiens G...,NaN,NaN,5,14.642892,...,13.656555,12.167221,13.542801,12.481805,12.472083,13.518998,12.098441,H0YLB9,P49641-2,H0YKH9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788,792,tr|A0A0A0MRJ6|A0A0A0MRJ6_HUMAN;tr|C9J0F2|C9J0F...,3,3,115.20,Protein-L-isoaspartate O-methyltransferase OS=...,NaN,NaN,789,14.461775,...,13.146324,12.903465,13.182132,13.253417,13.016094,13.640909,12.972100,A0A0A0MRJ6,C9J0F2,F8WAV5
789,793,sp|P15291-2|B4GT1_HUMAN,2,2,62.28,"Isoform Short of Beta-1,4-galactosyltransferas...",NaN,NaN,790,11.325696,...,9.916238,9.399355,7.972461,10.956510,6.981506,12.451956,10.669253,P15291-2,None,None
790,794,sp|P35858-2|ALS_HUMAN,7,7,315.54,Isoform 2 of Insulin-like growth factor-bindin...,NaN,NaN,791,15.133438,...,13.003717,15.717944,13.942383,13.986549,13.146108,15.437533,14.572094,P35858-2,None,None
791,795,sp|P62851|RS25_HUMAN,2,2,109.60,40S ribosomal protein S25 OS=Homo sapiens GN=R...,NaN,NaN,792,12.935077,...,13.004098,12.679041,8.495225,12.643714,8.296878,13.831683,12.678074,P62851,None,None
792,796,sp|Q93091|RNAS6_HUMAN,1,1,53.01,Ribonuclease K6 OS=Homo sapiens GN=RNASE6 PE=1...,NaN,NaN,793,10.800935,...,12.284744,10.871104,11.031488,13.070317,10.335849,12.104004,12.361672,Q93091,None,None

In [135]:
merged.to_excel ('Dataset 2refined.xlsx')

In [ ]:
heatmap to individual datasets compare with article info
volcano plots
machine learning with random forest
pick a specific identifier and stick with it 

add few plots in the discussion